<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Store Mega</title>
  <link rel="icon" type="image/x-icon" href="../../images/logo.ico">
  <!-- CSS only -->
   <link
   href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
   rel="stylesheet"
   integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
   crossorigin="anonymous"
 />
     <!-- JavaScript Bundle with Popper -->
     <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
     crossorigin="anonymous"
   ></script>
   <link rel="stylesheet" href="../../css/index.css" />
   <link rel="stylesheet" href="../../css/styles.css">
   <link rel="stylesheet" href="../../css/acerca.css">

   <link
     rel="stylesheet"
     href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
   />
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
     href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:ital,wght@0,600;0,700;1,300&display=swap"
     rel="stylesheet"
   />
   <link
     rel="stylesheet"
     href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
   />
   <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
   />
 </head>
 <body>
   <!-- Navigation-->
    <!-- Inicia Header 1-->
    <header class="cabecera1 p-2 mb-3 pb-0 border-bottom">
      <div class="container">
        <div class="d-flex flex-row-reverse align-items-center">
          <a href="../carrito.html" class="position-relative text-center">
            <i class="bi bi-cart-check-fill p-2"></i>
            <span class="translate-middle badge rounded-pill bg-danger" id="valor_carrito">0</span>
          </a>
          <i id="login-btn" class="bi bi-person-fill p-2"></i>
          <a href="#" class="p-2 register-color">Registrarse / Iniciar Sesión</a>
          <i class="bi bi-whatsapp p-2"></i>
          <i class="bi bi-facebook p-2"></i>
          <i class="bi bi-instagram p-2"></i>
        </div>
      </div>
    </header>

    <!-- Termina 1 Header -->

    <!-- Inicia Header 2-->
    <header class="p-1 mb-3">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="../../index.html"
            class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
          >
            <img
              src="../../images/logo.png"
              alt="Logo"
              width="134"
              height="52"
              role="img"
              class="bi me-2"
            />
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li class="navletters">
              <a href="../../index.html" class="nav-link px-2 link-secondary">Tienda</a>
            </li>
            <li class="navletters">
              <a href="../catalogo.html?categoria=ACCESORIOS" class="nav-link px-2 link-dark">Accesorios</a>
            </li>
            <li class="navletters">
              <a
                href="../catalogo.html?categoria=LAPTOPS"
                class="nav-link px-2 link-dark"
                >Laptops</a
              >
            </li>
            <li class="navletters">
              <a
                href="../catalogo.html?categoria=AUDIFONOS"
                class="nav-link px-2 link-dark"
                >Audífonos</a
              >
            </li>
            <li class="navletters">
              <a href="acerca.html" class="nav-link px-2 link-dark">Acerca de</a>
            </li>
            <li class="navletters">
              <a href="../../sections/contact.html" class="nav-link px-2 link-dark">Contacto</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Buscar..."
              aria-label="Search"
            />
          </form>
        </div>
      </div>
    </header>
    <!-- Termina 2 Header -->

    <!-- Inicia Login -->
    <div class="cont1">
        
        <div class="texto">
        <h3>I. Introcuccion</h3>
        <p>STORE MEGA S.A.C. tiene un firme compromiso por el respeto y el cumplimiento de todas las disposiciones legales y reglamentarias que les son aplicables. Asimismo, entiende que los datos personales, al ser parte integrante de la privacidad de las personas; y al ser, también, fundamentales para nuestra actividad, deben ser tratados de tal forma que no sólo impliquen el cumplimiento del ordenamiento legal, sino que, además, se deben tomar medidas que generen un ambiente de confianza y seguridad en el público respecto a dicho tratamiento.</p>
        
        <h3>II.Objetivo</h3>
        <p>La presente Política tiene por objeto hacer de conocimiento del público nuestro compromiso con la protección de sus datos personales, así como los lineamientos bajo los cuales realizamos el tratamiento de los mismos en ejercicio de nuestras actividades comerciales, la finalidad para la que lo hacemos, así como los procedimientos para que los titulares de los mismos puedan ejercer los derechos previstos en la Normativa de Protección de Datos Personales.</p>
    
        <h3>III.Alcance</h3>
        <p>La presente Política se aplica a toda actividad de tratamiento de datos personales realizada por parte de STORE MEGA.A.C (en adelante “STORE MEGA”). Será también de aplicación para aquellas personas o empresas a las que STORE MEGA requiera el tratamiento de datos personales de los cuales sea responsable.</p>
        
        <h3>IV Principios rectores</h3>
        <p>STORE MEGA se compromete a respetar los principios rectores establecidos en la Normativa de Protección de Datos Personales. Estos son:</p>
        <ul>
            <li>Principio de legalidad: El tratamiento de los datos personales se hace conforme a lo establecido en la ley, estando prohibida la recopilación de los datos personales por medios fraudulentos, desleales o ilícitos.</li>
            <li>Principio de consentimiento: Para el tratamiento de los datos personales debe mediar el consentimiento de su titular, salvo que medie alguna de las excepciones previstas en la ley. Dicho consentimiento debe cumplir con los requisitos de ser libre, previo a su recopilación o tratamiento, expreso e inequívoco, e informado.</li>
            <li>Principio de finalidad: Los datos personales deben ser recopilados para una finalidad determinada, explícita y lícita, y su tratamiento no debe extenderse a otra finalidad distinta a aquella para la cual fueron recopilados.</li>
            <li>Principio de proporcionalidad: El tratamiento de datos personales debe ser adecuado, relevante y no excesivo a la finalidad para la que estos hubiesen sido recopilados.</li>
            <li>Principio de calidad: Los datos personales que vayan a ser tratados deben ser veraces, exactos y, en la medida de lo posible, actualizados, necesarios, pertinentes y adecuados respecto de la finalidad para la que fueron recopilados.</li>
            <li>Principio de seguridad: El titular del banco de datos personales y el Encargado del banco de datos personales deben adoptar las medidas técnicas, organizativas y legales necesarias para garantizar la seguridad de los datos personales.</li>
            <li>Principio de disposición de recurso: El titular de datos personales debe contar con las vías administrativas o jurisdiccionales necesarias para reclamar y hacer valer sus derechos, cuando estos sean vulnerados por el tratamiento de sus datos personales.</li>
            <li>Principio de nivel de protección adecuado: Para el flujo transfronterizo de datos personales, se debe garantizar un nivel suficiente de protección para los datos personales que se vayan a tratar o, por lo menos, equiparable a lo previsto por la Ley de Protección de Datos Personales o por los estándares internacionales en la materia.</li>
        </ul>
        
        <h3>V Finalidad del tratamiento de datos personales</h3>
        <p>STORE MEGA realiza tratamiento de datos personales de colaboradores, clientes y potenciales clientes, proveedores, empleados y demás personas que conforman sus públicos de interés, de conformidad con las finalidades autorizadas por cada uno de ellos en los consentimientos que han otorgado a STORE MEGA, con las excepciones al requisito de obtención del consentimiento previstas por la Normativa de Protección de Datos Personales.</p>
        <p>Para cumplir con las obligaciones generadas por los vínculos contractuales y no contractuales generados con el titular de datos personales.
            <br>
            Comunicar a sus públicos de interés información comercial sobre su actividad empresarial, sus bienes y servicios, según el consentimiento que se obtenga del Titular de datos personales.
            <br>
            Cumplir con sus obligaciones legales como empleador.
            <br>
            Hacer seguimiento y monitoreo con fines de gestión de riesgos de seguridad a través de sus dispositivos de video-vigilancia, de registro biométrico, y otros que se dispongan.
            <br>
            Llevar a cabo actividades de debida diligencia y gestión de riesgos empresariales.
            <br>
            Suministrar los Datos Personales a terceros, en Perú o en el exterior, con los cuales STORE MEGA tenga relación contractual y que sea necesario entregársela para el cumplimiento del objeto contratado. Por ejemplo, Linio puede utilizar terceros para que le ayuden con la entrega de promoción de productos, recaudar sus pagos, enviar productos u operar nuestros sistemas de servicio al cliente. En el Anexo 2 encontrarás un listado de estos proveedores, encargados del tratamiento de datos personales.
            <br>
            Transferir los datos personales a las empresas relacionadas listadas en el Anexo 2 de la presente política, en el marco de las finalidades acá informadas.
            <br>
            Procesarlos para que en virtud de los servicios prestados, el cliente pueda hacer uso de los beneficios del programa de fidelización de Falabella “CMR Puntos” por cualquiera de los canales de comunicación, venta o canje dispuestos, tanto presenciales como remotos.
            <br>
            Completar automáticamente los documentos asociados a las transacciones que realice el Titular en función de los productos adquiridos y/o servicios utilizados o
            <br>
            Desarrollar acciones comerciales o servicios post venta, de carácter general o dirigidas personalmente al Titular, tendientes a mejorar su experiencia como cliente a través de los Canales de Comunicación.
            <br>
            Mantener informado, a través de los Canales de Comunicación, al Titular de Datos Personales sobre el proceso de entrega y estado de los pedidos realizados.
            <br>
            El tratamiento de datos personales para las anteriores finalidades, y para cualquier otra finalidad lícita distinta a las antes mencionadas es debidamente informado a los Titulares de datos personales, requiriéndoles una autorización específica según el público de interés que corresponda, en cumplimiento del principio de consentimiento, con las excepciones previstas en la Normativa de Protección de Datos Personales.    
        </p>
    </div>
    </div>
    <br>
<!-- Fin Sección-->

   <!-- Inicia footer -->
   <div class="container">
    <footer align="center" class="py-5 px-5">
      <div class="row">
        <div class="col mb-3">
          <h5><b>Nosotros</b></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="../acerca/acerca.html" class="nav-link p-0 text-muted">Acerca de</a>
            </li>
            <li class="nav-item mb-2">
              <a href="../../sections/contact.html" class="nav-link p-0 text-muted">Contacto</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">FAQs</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5><b>Políticas de Privacidad</b></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="../acerca/privacidad.html" class="nav-link p-0 text-muted">Seguridad</a>
            </li>
            <li class="nav-item mb-2">
              <a href="../acerca/privacidad.html" class="nav-link p-0 text-muted">Privacidad</a>
            </li>
            <li class="nav-item mb-2">
              <a href="../acerca/privacidad.html" class="nav-link p-0 text-muted">Términos de uso</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5><b>Ayuda</b></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="../acerca/devoluciones.html" class="nav-link p-0 text-muted">Devoluciones</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Pagos</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Envíos</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-muted">Cuenta</a>
            </li>
          </ul>
        </div>

        <div class="col mb-3">
          <h5><b>Redes sociales</b></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="https://www.facebook.com/profile.php?id=100066920101044" class="nav-link p-0 text-muted">Facebook</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://www.facebook.com/profile.php?id=100066920101044" class="nav-link p-0 text-muted">Instagram</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://www.facebook.com/profile.php?id=100066920101044" class="nav-link p-0 text-muted">Twitter</a>
            </li>
            <li class="nav-item mb-2">
              <a href="https://www.facebook.com/profile.php?id=100066920101044" class="nav-link p-0 text-muted">YouTube</a>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top mb-0"
      >
        <div class="col px-5" align="left">
          <h5><b>Nuestro email</b></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="../../sections/contact.html" class="nav-link p-0 text-muted"
                >contacto@storemega.com</a
              >
            </li>
          </ul>
        </div>

        <a
          href="../../index.html"
          class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none"
        >
          <img
            src="../../images/logo.png"
            alt="Logo"
            width="134"
            height="52"
            role="img"
            class="bi me-2"
          />
        </a>
        <div class="col px-5" align="right">
          <h5><b>Contáctanos</b></h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="../../sections/contact.html" class="nav-link p-0 text-muted"
                >Miraflores, Lima<br />+51 987 456 321</a
              >
            </li>
          </ul>
        </div>
      </div>
      <p>© 2022 Company, Inc. All rights reserved.</p>
    </footer>
  </div>
  <br />
  <!-- Termina footer -->

<!--Inicio de scrip-->
<!-- <script type="text/javascript" src="../../js/script.js"></script> -->
<!-- <script type="text/javascript" src="../../js/cantidad.js"></script> -->
<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
<!--Fin de scrip-->
<script src="../../js/actualizarCarrito.js"></script>
</body>
</html>